html
	head
		title #{title} - by @durancristhian
		meta(name="viewport" content="width=device-width, user-scalable=no")
		meta(http-equiv="content-type", content="#{contentType}; charset=UTF-8")
		link(rel='stylesheet', href='css/styles.css')
	body
		header
			h1 #{title}
		.container
			.sidebar
				block sidebar
			.main-content
				block content
		footer
			p by @durancristhian - Hecho con amor y pasión desde Tortuguitas, Buenos Aires.